Repository albertobas/olive-oil-trust: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --filter hardhat-env exec eslint --fix, cd hardhat-env && pnpm exec solhint --config .solhint.json --ignore-path .solhintignore contracts/**/*.sol --fix

.lintstagedrc.yaml:

"**/*.{json,md,yaml,yml}":
  - prettier --write

"hardhat-env/**/*.{ts,js}":
  - prettier --write
  - pnpm --filter hardhat-env exec eslint --fix

"hardhat-env/**/*.sol":
  - prettier --write
  - cd hardhat-env && pnpm exec solhint --config .solhint.json --ignore-path .solhintignore contracts/**/*.sol --fix

style: upgrade prettier and reformat codebase
  .lintstagedrc.yaml
Due: prettier --write

refactor: edit condition
  hardhat-env/contracts/OliveOilTrust/tokens/DependentTokenUpgradeable.sol
Due: prettier --write, cd hardhat-env && pnpm exec solhint --config .solhint.json --ignore-path .solhintignore contracts/**/*.sol --fix

chore: edit import
  hardhat-env/hardhat.config.ts
Due: prettier --write, pnpm --filter hardhat-env exec eslint --fix

docs: edit text
  README.md
Due: prettier --write

perf: use unchecked loop increments and add coverage for bound iteration
  hardhat-env/contracts/OliveOilTrust/certificate/CertificateUpgradeable.sol
  hardhat-env/contracts/OliveOilTrust/escrows/IndustrialUnitsEscrowUpgradeable.sol
  hardhat-env/contracts/OliveOilTrust/roles/BottlingPlantUpgradeable.sol
  hardhat-env/contracts/OliveOilTrust/tokens/DependentTokenUpgradeable.sol
  hardhat-env/test/roles/BottlingPlantUpgradeable/effects/pack.ts
  hardhat-env/test/roles/BottlingPlantUpgradeable/effects/packBatch.ts
  hardhat-env/test/shared/errors.ts
Due: prettier --write, pnpm --filter hardhat-env exec eslint --fix, cd hardhat-env && pnpm exec solhint --config .solhint.json --ignore-path .solhintignore contracts/**/*.sol --fix

refactor: adjust function parameters and destructure shared object
  hardhat-env/scripts/deploy/deployBottleCompany2AndDeps.ts
  hardhat-env/scripts/deploy/deployBottleCompanyAndDeps.ts
  hardhat-env/scripts/deploy/deployBottlingCompanyAndDeps.ts
  hardhat-env/scripts/deploy/deployCertifierCompanyAndDeps.ts
  hardhat-env/scripts/deploy/deployDistributorCompanyAndDeps.ts
  hardhat-env/scripts/deploy/deployOliveGrowerOneAndDeps.ts
  hardhat-env/scripts/deploy/deployOliveOilMillCompanyAndDeps.ts
  hardhat-env/scripts/deploy/deployRetailerCompanyAndDeps.ts
  hardhat-env/shared/constants.ts
  hardhat-env/shared/helpers.ts
  hardhat-env/shared/types.ts
Due: prettier --write, pnpm --filter hardhat-env exec eslint --fix

fix: restore authorisation check
  hardhat-env/contracts/OliveOilTrust/certificate/CertificateUpgradeable.sol
  hardhat-env/contracts/OliveOilTrust/roles/BottleManufacturerUpgradeable.sol
  hardhat-env/contracts/OliveOilTrust/roles/BottlingPlantUpgradeable.sol
  hardhat-env/contracts/OliveOilTrust/roles/CertifierUpgradeable.sol
  hardhat-env/contracts/OliveOilTrust/roles/DistributorUpgradeable.sol
  hardhat-env/contracts/OliveOilTrust/roles/OliveGrowerUpgradeable.sol
  hardhat-env/contracts/OliveOilTrust/roles/OliveOilMillUpgradeable.sol
  hardhat-env/contracts/OliveOilTrust/roles/RetailerUpgradeable.sol
Due: prettier --write, cd hardhat-env && pnpm exec solhint --config .solhint.json --ignore-path .solhintignore contracts/**/*.sol --fix
